<div>
  <h1>Sales Overview</h1>
  <mat-grid-list [cols]="3" rowHeight="120px">
    <mat-grid-tile>
      <div class="content">
        <div class="icon-container icon-container-sales">
          <i class="fa-solid fa-money-check-dollar"></i>
        </div>
        <div class="details">
          <div class="currency">
            832
            <!--          make a class for the currency symbol-->
          </div>
          <div class="title">
            Sales
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content">
        <div class="icon-container icon-container-profit">
        <i class="fa-solid fa-coins"></i>
        </div>
        <div class="details">
          <div class="currency">
            18,300
            <!--          make a class for the currency symbol-->
          </div>
          <div class="title">
            Profit
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content">
        <div class="icon-container icon-container-total-sales ">
        <i class="fa-solid fa-wallet"></i>
        </div>
        <div class="details">
          <div class="currency">
            62,000
            <!--          make a class for the currency symbol-->
          </div>
          <div class="title">
            Total Sales
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>







