<mat-grid-list cols="3" gutterSize="20px" rowHeight="6:3" class="grid-list">
  <mat-grid-tile class="grid-tile">
    <div class="heading-status">
      <h1>
        Incoming Order
      </h1>
      <h2>
        36
      </h2>
    </div>

    <div class="icon-heading-status">
      <i class="fa-solid fa-boxes-packing"></i>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="heading-status">
      <h1>
        Finished Order
      </h1>
      <h2>
        6
      </h2>
    </div>

    <div class="icon-heading-status">
      <i class="fa-solid fa-clipboard"></i>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="heading-status">
      <h1>
        To Be Shipped
      </h1>
      <h2>
        38
      </h2>
    </div>

    <div class="icon-heading-status">
      <i class="fa-solid fa-globe"></i>
    </div>
  </mat-grid-tile>
</mat-grid-list>
