mat-grid-tile {
  background: grey;
  border-radius: 20px;
}
.heading-status h1{
  font-weight: bold;
  font-size: 17px;
  color: white;
  margin-top: -78px;
  margin-right: 150px;
}

.heading-status h2{
  font-weight: bolder;
  font-size: 42px;
  color: white;
}
.icon-heading-status{
  color: white;
  font-size: 42px;
}
