.toolbar {
  width: 1350px;
  background-color: #555555;
  padding: 15px;
  align-items: center;
  border-left: 1.5px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .toggle-icon {
    color: white;
  }

  .search-icon {
    color: white;
  }

}


