.demo-button-container {
  padding-bottom: 16px;

  .demo-button + .demo-button {
    margin-left: 8px;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  display: flex;
  height: 0;
  overflow: hidden;
  transition: height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);

  &.expanded {
    height: 200px; /* Set the expanded height */
    animation: expandAnimation 0.3s ease;
  }

  &.collapsed {
    height: 0; /* Collapse the element by setting height to 0 */
  }
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
