<div class="component">
  <img alt="test" src="assets/logo.jpg">

  <button routerLink='/main'>
    <i class="fa fa-dashboard"></i> Dashboard
  </button>
  <button routerLink='/inventory'>
    <i class="fa fa-cube"></i> Inventory
  </button>
  <button routerLink='/reports'>
    <i class="fa fa-chart-bar"></i> Reports
  </button>
  <button routerLink='/suppliers'>
    <i class="fa fa-users"></i> Suppliers
  </button>
  <button routerLink='/orders'>
    <i class="fa fa-shopping-cart"></i> Orders
  </button>
</div>

