<div>
  <h1>Purchase Overview</h1>
  <mat-grid-list [cols]="2" rowHeight="120px">
    <mat-grid-tile>
      <div class="content">
        <div class="icon-container icon-container-purchase">
          <i class="fa-solid fa-money-check-dollar"></i>
        </div>
        <div class="details">
          <div class="currency">
            832
            <!--          make a class for the currency symbol-->
          </div>
          <div class="title">
            Purchase
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content">
        <div class="icon-container icon-container-cost">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="details">
          <div class="currency">
            18,300
            <!--          make a class for the currency symbol-->
          </div>
          <div class="title">
            Cost
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>


