<div class="add-supplier">

  <h2 mat-dialog-title>New Supplier</h2>
  <mat-dialog-content>
    <!-- Form for name, category, buying price, quantity -->
    <form [formGroup]="productForm">

      <mat-form-field class="full-width">
        <input matInput formControlName="Number" type="number" placeholder="Number"/>
      </mat-form-field>
      <!-- Product Name -->
      <mat-form-field class="full-width">
        <input matInput formControlName="Supplier Name" placeholder="Supplier Name"/>
      </mat-form-field>

      <!-- Product Category -->
      <mat-form-field class="full-width">
        <input matInput formControlName="Address" placeholder="Supplier Address"/>
      </mat-form-field>

      <!-- Buying Price -->
      <mat-form-field class="full-width">
        <input matInput formControlName="Phone Number" type="string" placeholder="Phone Number"/>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onSaveClick()">Save</button>
  </mat-dialog-actions>
</div>


