.user {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;

  .welcome-text {
    font-weight: bold;
    font-size: xx-large;
    margin-left: 15px;
  }

  .add-reminder {
    margin-left: auto;

    button {
      background-color: coral; /* Push the "Add Reminder" button to the right */
    }
  }
}

.user img {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Use 50% to create a circle, not 100% */
  overflow: hidden;
}

