.button{
  flex-direction: column;
  padding: 20px;
  border-radius: 150px;
}

.input-details{
  display: flex;
  flex-direction: column;
  .reminder-input{
    flex-direction: column;
    padding: 20px;
    width: 350px;
    height: 350px;
  }

  .dateTime-input{
    flex-direction: column;
    padding: 20px;
  }
}


